section.content {
  margin: auto;
  width: 90%;
}

section.lower {
  display: inline-block;
  margin: 20px;
  text-align:center;
}

section.lower img {
  text-align: center;
  width: 100%;
}

.output {
  background: pink;
  font-size: 25px;
  font-weight: bold;
  padding: 25px;
}
